<nav>
 
    <a (click)="getPets('')">
    <img src="media/04.png" class="icon" />
  </a>
  <a  (click)="getPets('Cats')">
    <img src="media/03.png" class="icon" />
  </a>
  <a (click)="getPets('Dogs')">
    <img src="media/02.png" class="icon" />
  </a>
</nav>
<header>
  {{ Pets | catagoryList }}
</header>

<section>
  <shelter-pet
   [ngClass]="{
     'type-dog': pet.type==='Dogs', 'type-cat':pet.type==='Cats'
     }"
    *ngFor="let pet of Pets"
    [pet]="pet"
    (foster) = "onPetFoster($event)"
    (adopt) = "onPetAdopt($event)"
    >
   </shelter-pet>
</section>
 

 