
<header>
    <h2>{{type}}</h2>
  {{ Pets | catagoryList }}
</header>

<section>
  <shelter-pet
   [ngClass]="{
     'type-dog': pet.type==='Dogs', 'type-cat':pet.type==='Cats'
     }"
    *ngFor="let pet of Pets"
    [pet]="pet"
    (foster) = "onPetFoster($event)"
    (adopt) = "onPetAdopt($event)"
    >
   </shelter-pet>
</section>
 
<footer>
    <a  routerLink="/add" >
    <img src="media/01.png" class="icon" />
  </a>
    <div class="moreInfo">
       Get more information about fostering or a adopting a pet at <a _ngcontent-phk-3="" href="ThePetRepublic.com/Foster">ThePetRepublic.com/Foster/</a>
    </div>
 </footer>
 