<header>
  <h2>Add A Foster</h2>
</header>
<form
  [formGroup]="form"
  (ngSubmit)="onSubmit(form.value)">
  <ul>
    <li>
      <label for="type">Type</label>
      <select name=type id="type" formControlName="type">
        <option
         *ngFor="let petType of lookupLists.types"
        value="{{petType.plural}}">{{petType.single}} </option>
      </select>
    </li>
    <li>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" formControlName="name">
      <div *ngIf="form.controls.name.errors?.pattern" class="error">
        Name Has Invalid Characters!
      </div>
    </li>
    <li>
      <label  >Category</label>
      <select name="category" id="category" formControlName="category"  >
        <option value="Mix">Mix</option>
        <option value="Shiba Inu">Shiba Inu</option>
        <option value="Tabby">Tabby</option>
        <option value="Shibu Inu">Shibu Inu</option>
        <option value="Siamese">Siamese</option>
        <option value="Yorkshire Terrier">Yorkshire Terrier</option>
      </select>
      
    </li>
    <li>
      <label for="year">Year</label>
      <input type="text" name="year" id="year" maxlength="4" formControlName="year">
      <div *ngIf="form.controls.year.errors?.year" class="error">
                 Year Must be between 
        {{form.controls.year.errors?.year.min}} 
                        and 
        {{form.controls.year.errors?.year.max}}
      </div>
    </li>
  </ul>
  <button type="submit"   [disabled]="!form.valid" >Save</button>
</form>
